<%= form_for @article, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label' %>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content, :class => 'control-label' %>
    <%= f.text_area :content, :class => 'form-control' %>
  </div>
  <div class="form-group" style="display: none">
    <%= f.label :user_id, :class => 'control-label' %>
    <%= f.number_field :user_id, :class => 'form-control', value: current_user.id  %>
  </div>
  <div class="form-group">
    <%= f.label :text_type, :class => 'control-label' %>
    <%= f.select :text_type, options_for_select([['Markdown', 'm'], ['AsciiDoc', 'a']]), include_blank: true %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                articles_path, :class => 'btn' %>
  </div>
<% end %>
