<%- model_class = Article -%>
<div class="page-header">
  <table>
    <tr>
      <td>
        <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
      </td>
      <% if user_signed_in? and current_user.author %>
      <td style="padding-left: 30px">
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_article_path,
                    :class => 'btn btn-primary' %>
      </td>
      <% end %>
    </tr>
  </table>

</div>



<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>

<table class="table table-striped">
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td style="font-size: 28px;"><%= link_to article.title, article_path(article) %></td>
            </tr>
            <tr>
              <td>
              <% if article.text_type == "m" %>
                <%= markdown_filter article.content[0..150]+"..." %>
              <% elsif article.text_type == "a" %>
                <%== Asciidoctor.render article.content[0..150]+"..." %>
              <% else %>
                <%= article.content[0..150] %>...
              <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <i>by <%= User.find(article.user_id).username %></i>
                <%= article.created_at.to_s[0..-4] %>

                <% if user_signed_in? %>
                  <% if current_user.admin or current_user.id == article.user_id %>

                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_article_path(article), :class => 'btn btn-primary btn-xs' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              article_path(article),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-danger btn-xs' %>
                    <% end %>
                  <% end %>
              </td>

            </tr>


          </tbody>
        </table>
      </tr>
    <% end %>
    <% if user_signed_in? and current_user.author %>
      <table>
      <tr>
        <td>
          <%= link_to t('.new', :default => t("helpers.links.new")),
                      new_article_path,
                      :class => 'btn btn-primary' %>
        </td>
      </tr>
    </table>
    <% end %>
  </tbody>

</table>



<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
