<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t @article.title %></h1>
</div>

<table class="">
  <tbody>
    <tr>
      <td>
        <% if @article.text_type == "m" %>
          <%= markdown_filter @article.content %>
        <% elsif @article.text_type == "a" %>
          <%== Asciidoctor.render @article.content %>
        <% else %>
          <td><%= @article.content %></td>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <br>
        <i>by <%= User.find(@article.user_id).username %></i>
      </td>
    </tr>
  </tbody>
</table>
<br>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              articles_path, :class => 'btn'  %>

  <% if user_signed_in? and (current_user.admin or current_user.username == @article.user.username) %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_article_path(@article), :class => 'btn btn-primary' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                article_path(@article),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <% end %>
</div>

<br>
<h3>Comments</h3>

<table class="table table-striped">
  <tbody>
    <% @comments.each do |comment| %>
    <tr>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>
              <%= comment.user.username %> at <%= comment.created_at.to_s[0..-4] %> says:
            </td>
          </tr>
          <tr>
            <td>
              <% if comment.text_type == "m" %>
                <%= markdown_filter comment.content %>
              <% elsif comment.text_type == "a" %>
                <%== Asciidoctor.render comment.content %>
              <% else %>
                <%= comment.content %>
              <% end %>
            </td>
          </tr>
          <% if user_signed_in? and current_user.admin %>
            <tr>
              <td style="background: white;">
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            comment_path(comment),
                            :method => 'delete',
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in?%>
<h3>Leave a comment</h3>
  <%= bootstrap_form_for(@new_comment) do |f| %>
    <% if @new_comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@new_comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
        <% @new_comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <!-- <%= f.label :content %><br> -->
      <%= f.text_area :content, hide_label: true, placeholder: "Your comment..." %>
    </div>
    <div class="field" style="display: none;">
      <!-- <%= f.label :user_id %><br> -->
      <%= f.text_field :user_id, value: current_user.id %>
    </div>
    <div class="field" style="display: none;">
      <!-- <%= f.label :article_id %><br> -->
      <%= f.text_field :article_id, value: @article.id %>
    </div>

    <div class="controls">
      <%= f.select :text_type, options_for_select([['Markdown', 'm'], ['AsciiDoc', 'a']]), include_blank: true %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% end %>
