<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label' %>
    <%= f.text_field :email, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :encrypted_password, :class => 'control-label' %>
    <%= f.text_field :encrypted_password, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :reset_password_token, :class => 'control-label' %>
    <%= f.text_field :reset_password_token, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :reset_password_sent_at, :class => 'control-label' %>
    <%= f.datetime_select :reset_password_sent_at, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :remember_created_at, :class => 'control-label' %>
    <%= f.datetime_select :remember_created_at, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sign_in_count, :class => 'control-label' %>
    <%= f.number_field :sign_in_count, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :current_sign_in_at, :class => 'control-label' %>
    <%= f.datetime_select :current_sign_in_at, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_sign_in_at, :class => 'control-label' %>
    <%= f.datetime_select :last_sign_in_at, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :current_sign_in_ip, :class => 'control-label' %>
    <%= f.text_field :current_sign_in_ip, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_sign_in_ip, :class => 'control-label' %>
    <%= f.text_field :last_sign_in_ip, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :username, :class => 'control-label' %>
    <%= f.text_field :username, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
