<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
          data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        My Blog <span class="glyphicon glyphicon-pencil"></span>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <% if user_signed_in? and current_user.admin %>
          <li><a href="/users">Users</a></li>
        <% end %>
        <!-- <li><a href="#contact">Contact</a></li> -->
      </ul>

      <%= form_tag articles_path, :method => 'get', :class =>"navbar-form navbar-right", :role => "search" do %>
            <%= (text_field_tag :author, params[:author], class: "form-control", placeholder: "Search by author...") %>

        <%= submit_tag "Search",:category => nil, class:'btn btn-success' %>

      <% end %>

    </div>
  </div>
</div>
