/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 */

 /*
 *= require custom_bootstrap/custom_bootstrap
 */

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

textarea {
  height: 280px !important;
}

img {
  display: block;
   margin-left: auto;
   margin-right: auto
}
