<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.username %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<% if flash[:notice] %>
<p class="alert alert-danger" style="padding-left:200px"><%= flash[:notice] %></p>
<% end %>

<!--
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
-->
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= render partial: 'shared/navbar' %>
<div class="container">
  <div class="starter-template">
    <%= yield %>
  </div>
</div>

</body>
</html>
